$corDeFundo: #000000;
$corTextoPrincipal: #f9f9f9;
$corTextoSecundario: silver;
$corDefundoBotaoPrimario:#AC0031;
$corDeFundoBotaoDark:#000;
$corDeFundoSecundaria: #000000ad;
$corDeFundoNome: #00000091;